*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

header{
    background-color: rgb(80, 74, 74);
}

nav ul{
    padding: 25px;
    display: flex;
    justify-content: right;
    list-style: none;
}

li a{
    color: #ffffff;
    margin: 4px;
    padding: 4px 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    text-decoration: none; 
}

li a:hover {
    box-shadow: 0 4px 16px #000000;
    transition: all 0.2s ease;
}

#logo{
    position: absolute;
    margin: 15px 15px;
    padding: 5px;
}

.container-slider{
    display: flex;
    justify-content: space-between;
    background-color: grey;
    margin-bottom: 25px;
    padding: 20px;
}

h2 {
    font-size: 3rem;
}

.previous-round {
    background-color: grey;
    color: black;
    display: flex;
    justify-content: flex-start;
    width: 50px;
    height: 50px;
}

.next-round {
    background-color: grey;
    color: black;
    display: flex;
    justify-content: end;
    width: 50px;
    height: 50px;
}

.boton{
    color:white !important;
    font-size: 15px;
    font-weight: 380;
    padding: 0.5em 1.2em;
    background: black;
    border: 1px solid;
    position: relative;
}

.boton:hover{
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 4px 16px #D90368;
    transition: all 0.2s ease;
}

/* -----TABLE----- */

table{
    background-color: white;
    margin-bottom: 2rem;
}

.tg tr {
    border-collapse: collapse;
}

.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
    text-align: center;
}

.tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
    align-items: center;
    text-align: center;
}

.tg .gray {
    background-color: #c41b69;
    border-color: inherit;
    font-size: 25px;
    text-align: center;
    vertical-align: top;
    width: 60rem;
    align-items: center;
}

.tg .blank{
    border-color: inherit;
    text-align: center;
    vertical-align: top; 
    align-items: center;
}


/* .....CARDS..... */

.navbar {
    align-items: center;
    width: 100%;
    gap: 1rem;
}
.searchbar {
    justify-content: flex-end !important;
    align-self: center;
}

.card {
    width: 18rem;
    border: 1px solid black !important;
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    align-items: center;
}
.card img {
    object-fit: cover;
    height: 9rem;
    max-width: 18rem;
    border-radius: 5px;
}
.card-details{
    justify-content: center !important;
    align-items: center;
    width: 30rem;
}
.card-details>.card-body-details{
    text-align: left;
    justify-content: center;
    font-size: 1.4rem;
}
.card-details>.card-title-details{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

.card-details>.card-img-details{
    object-fit: cover;
    height: 14rem;
    max-width: 29rem;
    border-radius: 20px;
}
.card-body-details>p{
    font-size:2rem;
}
.card-body>.btn{
    align-self: center !important;
}
.navbar-toggler {
    background-color: white;
}
.card-body{
    text-align: center;
    justify-content: center;
}
.card-body>.button{
    justify-content: center;
    align-content: center;
    align-items: center;
}

.btn:hover{
    box-shadow: 0 4px 16px #850c45;
    transition: all 0.2s ease;
}

.btn-cartas{
    font-size: 20px;
    font-weight: 100;
    padding: 0.3em .8em;
    background: #0f0d0a;
    border: 2px solid;
    border-color: white;
    position: relative;
    text-decoration: none;
    border-radius: 8%;
}


/* .....DETAILS..... */

.details{
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 25px 15px;
    display: flex;
    justify-content: center;
    border: 2px solid #000000;
    width: 65%;
    background-color: #6d6363;
}

.details img{
    border: 2px solid #000000;
    height: 200px;
}
.cards-details{
    display: block;
    align-items: center;
    justify-content: center;
}

.details-text{
    background-color: #ffffff;
    text-align: center;
    margin-left: 5%;
    padding: 4px;
    border: 2px solid #000000;
    width: 45%;
}

.button {
    width: auto;
    display: flex;
    justify-content: center;
}

.back {
    width: 110px;
    font-size: 20px;
    font-weight: 100;
    padding: 0.3em .8em;
    background: #0f0d0a;
    border: 2px solid;
    border-color: white;
    position: relative;
    text-decoration: none;
    border-radius: 8%;
    color: white;
}


/* .....MEDIA QUERIES..... */
@media only screen and (min-width: 320px) and (max-width: 767px) {
    #logo{
        position: relative;
        height: 35px;
    }
    nav ul{
        padding: 8px;
        display: flex;
        justify-content: center;        
    }
    li a{
        height: 35px;
        font-size: 13px;
        display: flex;
        align-items: center;
        padding: 3px 7px;
    }

    .form-category{
        font-size: 14px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
    }

    .details img{
        margin-bottom: 20px;
        height: 200px;
    }

    .details{
        width: 65%;
        margin-top: 10px;
        margin-bottom: 20px;
        flex-direction: column;
        justify-content: center;
    }

    .details-text{
        width: 85%;
    }
}

@media only screen and (min-width: 768px) {
    .form-horizontal{
        margin: 15px; 
        padding-left: 10rem;
    }    
}
